## {{ version.as_tag() }}

[Installation and documentation](https://github.com/oimiragieo/tensor-grep/tree/{{ version.as_tag() }})

[Release artifacts](https://github.com/oimiragieo/tensor-grep/releases/tag/{{ version.as_tag() }})
